@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary: #fff;
  --color-secondary: #0e2345;
  --color-tertiary: #f9fafb;

  --color-logo-text: #c5b575;

  --color-button-red: #c52424;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: var(--font-roboto);
}

body {
  box-sizing: border-box;
}

.intro-bg,
.why-choose {
  background-image: linear-gradient(
      to right,
      rgba(14, 35, 69, 0.9) 50%,
      rgba(14, 35, 69, 0.9) 50%
    ),
    url("../public/qatar-flag-big.jpg");
  background-size: 100%;
  object-fit: cover;
  height: 35rem;
}

/* Responsive Design  */

@media (max-width: 1650px) {
  .book-consultation-content {
    gap: 15px;
  }

  .cta-green-check {
    width: 26rem;
  }

  .why-choose-content {
    width: 50%;
  }
  .why-choose-para {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 980px) {
  .intro-div {
    height: auto;
  }
  .book-consultation-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .book-consultation-content-item {
    flex-basis: 45%;
  }
  .cta-div {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .cta-div p {
    width: 100%;
  }

  .cta-child-div {
    justify-content: space-evenly;
  }

  .features-div {
    flex-wrap: wrap;
    position: block;
    align-items: flex-end;
  }

  .features-item {
    flex-basis: 45%;
  }
}

@media (max-width: 700px) {
  .why-choose {
    height: auto;
    width: 100%;
  }
  .why-choose-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    width: 100%;
  }
  .why-choose p {
    padding-bottom: 2rem;
    width: 100%;
  }

  .news-letter {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 0;
    height: auto;
  }
  .news-letter-parent {
    padding-bottom: 2rem;
  }

  .footer p {
    width: 100%;
  }
  .blog-parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .legal-parent {
    flex-direction: column;
    align-items: center;
  }

  .legal-item {
    flex-basis: 45%;
  }
  .cta-div {
    justify-content: center;
  }
  .cta-div img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .features-fixed {
    display: none;
  }
}

@media (max-width: 525px) {
  .footer-flex {
    flex-direction: row;
  }

  .footer-none {
    display: none;
  }
  .features-div {
    padding-top: 5rem;
    height: auto;
  }
  .features-item {
    flex-basis: 75%;
  }

  .legal-item {
    flex-basis: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .contact-div {
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .news-letter {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .news-letter p {
    width: 100%;
  }
}
